body {
    background-color: #F9FAFC;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}

.resource-card {
    background-color: transparent;
}

.custom-img {
    max-height: 200px; /* Set a max height */
    width: 100%; /* Make the image take full width */
    height: auto; /* Keep the aspect ratio */
    object-fit: contain; /* Ensure the image fits within its container */
    background-color: #445261;
}