@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Farsan&display=swap');

/* Global Styles */
:root {
    /* custom colour scheme */
    --yellow: #F6E96B;
    --light-green: #BEDC74;
    --green: #A2CA71;
    --dark-green: #387F39;
    --darkest-green: #1A3636;
    --background-green: #EAF5E4;
    --text-grey: #FAFAFA;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-green);
}

main {
    margin-top: 57px;
}

.dark-bg {
    background-color: var(--green);
}

.main-bg {
    background-color: var(--background-green);
}

.text-green {
    color: var(--green);
}

/* Fonts */
h1,
h2,
h3,
h4,
h5,
h6,
a,
.hero-btn,
button,
label {
    font-family: "Concert One", sans-serif;
}

p,
input {
    font-family: "Farsan", sans-serif;
}

/* Hero */

.logo-text h1 {
    font-size: 2.5rem;
    margin-bottom: 0;
}

.hero-box,
.cta-box {
    border: 1px solid var(--darkest-green);
    border-radius: 10px;
    box-shadow: 2px 2px 4px 0 var(--darkest-green);
}

.hero-box h2,
.cta-box h2 {
    border-bottom: 1px solid var(--darkest-green);
    padding-bottom: 10px;
}

.hero-btn {
    background-color: var(--darkest-green);
    color: var(--text-grey);
    border: 2px solid var(--dark-green);
}

.cartoon-bee {
    max-width: 150px;
}

.img-col {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Resource Card */

.resource-card {
    background: linear-gradient(150deg, var(--dark-green), var(--darkest-green));
    color: var(--text-grey);
    border-radius: 10px;
    max-height: 320px;
    height: 320px;
}

.card-title {
    border-bottom: 1px solid var(--yellow);
    padding-bottom: 10px;
}

.card-img-box {
    padding-top: 15px;
    height: 225px;
}

.resource-image {
    width: auto;
    height: auto;
    max-height: 200px;
    max-width: 260px;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 4px 0 var(--yellow)
}

/* Features */
.feature-card {
    background-color: var(--green);
}

.feature-card h4 {
    font-size: 1.5rem;
}

.feature-card-text {
    font-size: 1.3rem;
}

.feature-box {
    border-radius: 10px;
    border: 2px solid var(--dark-green);
    box-shadow: 4px 4px 8px 0 var(--darkest-green);
}

/* Nav */

nav {
    background-color: var(--green);
    box-shadow: 0 2px 4px 0 var(--dark-green);
}

.brand {
    font-weight: 700;
    font-size: 1.3rem;
}

/* Footer */

footer {
    background-color: var(--green);
    box-shadow: 0 -2px 4px 0 var(--dark-green);
}