@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Farsan&display=swap');

/* Global Styles */
:root {
    /* custom colour scheme */
    --yellow: #F6E96B;
    --light-green: #BEDC74;
    --green: #A2CA71;
    --dark-green: #387F39;
    --darkest-green: #1A3636;
    --background-green: #EAF5E4;
    --text-grey: #FAFAFA;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--text-grey);
}

main {
    margin-top: 57px;
}

.dark-bg {
    background-color: var(--green);
}

.main-bg {
    background-color: var(--text-grey);
}

.text-green {
    color: var(--green);
}

.btn {
    border: 1px solid --darkest-green;
    box-shadow: 2px 2px 4px 0 var(--darkest-green);
}

/* Fonts */
h1,
h2,
h3,
h4,
h5,
h6,
a,
.hero-btn,
button,
.btn,
label {
    font-family: "Concert One", sans-serif;
}

p,
input,
li {
    font-family: "Farsan", sans-serif;
}

a {
    color: var(--dark-green);
}


.btn {
    background-color: var(--darkest-green);
    color: var(--text-grey);
    border: 2px solid var(--dark-green);
}

.btn:hover {
    background-color: var(--dark-green);
    color: var(--text-grey);
}

/* Borders */

.feature-box,
.hero-box,
.cta-box {
    border-radius: 10px;
    border: 2px solid var(--dark-green);
    box-shadow: 4px 4px 8px 0 var(--darkest-green);
}

.create-resource-card,
.resource-list {
    border: 2px solid var(--darkest-green);
    box-shadow: 2px 2px 4px 0 var(--darkest-green);
}

#id_key_stage,
#id_status,
#id_links,
.note-editor.note-airframe, 
.note-editor.note-frame,
.slim-border,
.textinput {
    border: 1px solid var(--darkest-green);
}

/* Hero */

.logo-text h1 {
    font-size: 2.5rem;
    margin-bottom: 0;
}

.hero-box,
.cta-box {
    background-color: var(--background-green);
}

.hero-box h2,
.cta-box h2 {
    border-bottom: 1px solid var(--darkest-green);
    padding-bottom: 10px;
}

.cartoon-bee {
    max-width: 150px;
}

.img-col {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Resource Card */

.resource-card {
    background-color: var(--background-green);
    border-radius: 10px;
    border: 3px solid var(--dark-green);
    box-shadow: 2px 2px 4px 0 var(--darkest-green);
    max-height: 320px;
    height: 320px;
}

.card-title {
    border-bottom: 1px solid var(--dark-green);
    padding-bottom: 10px;
}

.card-img-box {
    padding-top: 15px;
    height: 225px;
}

.resource-image {
    width: auto;
    height: auto;
    max-height: 200px;
    max-width: 260px;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
}

.resource-link {
    text-decoration: none;
    color: black;
}

.resource-link:hover {
    color: var(--dark-green);
}

/* Create Resource */

#resource-end,
#editResourceCard,
.note-view,
.note-insert,
.note-table,
.note-fontname,
.note-color,
.note-style {
    display: none;
}

.note-editable {
    min-height: 300px;
}

#id_links {
    height: 40px
}

.create-resource-card  .card-header {
    background: linear-gradient(150deg, var(--light-green), var(--green));
}
.create-resource-card  .card-body,
.create-resource-card textarea,
.create-resource-card textarea:focus,
.create-resource-card select,
.create-resource-card input,
.create-resource-card input:focus {
    background-color: var(--background-green);
}

/* Resource List */

.resource-list {
    background-color: var(--background-green);
}

.resource-list:not(:last-child) {
    border-bottom: 3px solid var(--darkest-green);
}

/* Resource Detail */

.detail-card .card-body {
    min-height: 100px;
}

.details-link a {
    text-decoration: none;
    color: black;
}

.details-link a:hover {
    color: var(--dark-green);
}

.media-download a {
    text-decoration: none;
    color: var(--text-grey);
}

.media-download a:hover {
    color: var(--dark-green);
}

/* Features */
.feature-card {
    background: linear-gradient(155deg, var(--background-green), var(--light-green));
}

.feature-card h4 {
    font-size: 1.5rem;
}

.feature-card-text {
    font-size: 1.3rem;
}

.feature-resource-card {
    background: linear-gradient(150deg, var(--dark-green), var(--darkest-green));
    color: var(--text-grey);
    border-radius: 10px;
    max-height: 200px;
    max-width: 200px;
}

.feature-resource-card .card-title {
    font-size: medium;
    padding-bottom: 2px;
    margin-bottom: 2px;
}

.feature-resource-card .card-text {
    font-size: small;
}

.feature-resource-image {
    width: auto;
    height: auto;
    max-height: 120px;
    max-width: 120px;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 4px 0 var(--yellow)
}

/* Nav */

nav {
    background-color: var(--green);
    box-shadow: 0 2px 4px 0 var(--dark-green);
}

.brand {
    font-weight: 700;
    font-size: 1.3rem;
}

/* Footer */

footer {
    background-color: var(--green);
    box-shadow: 0 -2px 4px 0 var(--dark-green);
}