{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">

    <div class="row justify-content-center my-5">
        <div class="col-11 col-md-10 col-xl-8">
            <div class="card detail-card my-3">
                <div class="card-header">
                    <h1 class="text-center my-1">{{ resource.title }}</h1>
                    <p id="key-stage" class="m-0 key-stage text-end fs-6">{{ resource.key_stage }}</p>
                    <p class="m-0 text-end fs-6">Shared by {{ resource.author }} on {{ resource.created_on }}</p>
                </div>
                <div class="card-body">
                    <article class="text-center fs-5">
                        {{ resource.content | safe}}
                    </article>
                    <div id="carouselResourceDetail{{ resource.id }}" class="carousel slide card-carousel">
                        <div class="carousel-inner">
                            {% if resource.media.all %}
                                {% for media in resource.media.all %}
                                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                    <div class="card-img-box">
                                        <img src="{{ media.featured_media.url }}" class="resource-image d-block"
                                            alt="Image for {{ resource.title }}" />
                                    </div>
                                    <div class="media-download text-center">
                                        <a href="{{ media.featured_media.url }}" download="{{ media.featured_media.name }}"
                                            class="btn my-2" target="_blank">Download Media</a>
                                    </div>
                                </div>
                                {% endfor %}
                            {% else %}
                                <div class="carousel-item active">
                                    <div class="card-img-box">
                                        <img src="{% static 'images/bee-heart.png' %}" class="resource-image d-block" alt="cartoon bee">
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        {% if resource.media.count > 1 %}
                            <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselResourceDetail{{ resource.id }}" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon dark-bg" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselResourceDetail{{ resource.id }}" data-bs-slide="next">
                                <span class="carousel-control-next-icon dark-bg" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        {% endif %}
                    </div>
                    
                </div>
                {% if resource.links %}
                <div class="card-footer">
                    <div class="row">
                        <div class="col col-12 text-truncate text-center details-link">
                            Link -
                            <a href="{{ resource.links }}" target="_blank"
                                aria-label="link to external website, opens in a new page">
                                {{ resource.links }}
                            </a>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row justify-content-center mb-5">
        <div class="col-11 col-md-10 col-xl-8">
            <h3>Comments: {{ comment_count }}</h3>
            <div class="accordion accordion-flush rounded mb-3" id="commentAccordion">
                <div class="accordion-item rounded">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed rounded" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        <div class="d-md-flex justify-content-between w-100">
                            <h4>Leave a comment <i class="fa-regular fa-comment"></i></h4>
                            <p class="m-2 mb-0">Commenting as: {{ user.username }}</p>
                        </div>
                    </button>
                  </h2>
                  <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#commentAccordion">
                    <div class="accordion-body">
                        {% if user.is_authenticated %}
                            <form id="commentForm" method="post">
                                {{ comment_form | crispy }}
                                {% csrf_token %}
                                <button id="submitCommentButton" type="submit" class="btn btn-lg">Submit</button>
                            </form>
                        {% else %}
                        <p>Log in to leave a comment</p>
                        {% endif %}
                    </div>
                  </div>
                </div>
            </div>

            {% for comment in comments %}
            <div class="card comment-card mb-3">
                <div id="comment{{comment.id}}" class="card-body">
                    {{ comment.body | linebreaks }}
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <p class="mb-0"><span class="fw-bold">{{ comment.author }}</span> - {{ comment.created_on }}</p>
                    {% if user.is_authenticated and comment.author == user %}
                        <button class="btn edit-button" data-comment_id="{{ comment.id }}">Edit</button>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</div>

{% endblock content %}

{% block script %}
<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/comments.js' %}"></script>

<!-- Script to hide the django auto generated form label and add a placeholder to the textarea input -->
<script>
    document.querySelector('label[for="id_body"]').style.display = "none";
    document.getElementById("id_body").placeholder = "Enter Comment Here";
</script>
{% endblock %}

