{% extends "base.html" %}
{% load static %}


{% block content %}

<div class="container-fluid">

    <div class="row">
        <div class="col-12 p-2 mt-2 text-center logo-text">
            <h1>Bee Teach</h1>
            {% if user.is_authenticated %}
            <p class="m-3 text-center">
                Welcome {{ user }}, check out what's buzzing!<br>
                Explore the Bee Teach communities collection of educational materials to inspire 
                and enhance your teaching.<br>
                Discover a variety of lesson plans, worksheets, activities and more 
                all created by fellow educators.
            </p>
            {% endif %}
        </div>
    </div>


    <div class="row justify-content-center mb-5">
        <div class="col-11 col-md-8 col-xl-4 p-0 feature-box">

            <div id="featureCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% if features %}
                    <div class="carousel-item active" data-bs-interval="10000">
                        <div class="card feature-card">
                            <div class="card-header">
                                <h4 class="card-title">{{ features.0.title }}</h4>
                                <p class="card-text feature-card-text">{{ features.0.body }}</p>
                            </div>
                            {% if features.0.resource %}
                            <div class="card-body d-flex justify-content-center">
                                <a href="{% url 'resource_detail' features.0.resource.slug %}">
                                    <div class="card feature-resource-card mb-3">
                                        <img src="{{ features.0.resource.media.first.featured_media.url }}"
                                            class="feature-resource-image d-block mt-3" alt="Image for {{ features.0.resource.title }}">
                                        <div class="card-body">
                                            <h5 class="card-title text-center text-truncate">{{ features.0.resource.title }}
                                            </h5>
                                            <p class="card-text text-end">By {{ features.0.resource.author }}</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}

                    {% for feature in features|slice:"1:" %}
                    <div class="carousel-item" data-bs-interval="6000">
                        <div class="card feature-card">
                            <div class="card-header">
                                <h4 class="card-title">{{ feature.title }}</h4>
                                <p class="card-text feature-card-text">{{ feature.body }}</p>
                            </div>
                            {% if feature.resource %}
                            <div class="card-body d-flex justify-content-center">
                                <a href="{% url 'resource_detail' feature.resource.slug %}">
                                    <div class="card feature-resource-card mb-3">
                                        <img src="{{ feature.resource.media.first.featured_media.url }}"
                                            class="feature-resource-image d-block mt-3" alt="Image for {{ feature.resource.title }}">
                                        <div class="card-body">
                                            <h5 class="card-title text-center text-truncate">{{ feature.resource.title }}
                                            </h5>
                                            <p class="card-text text-end">By {{ feature.resource.author }}</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#featureCarousel"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#featureCarousel"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

        </div>
    </div>


    <div class="row justify-content-center">
        <div class="col col-md-10 col-lg-8">

            <div class="row">
                <div class="col text-center mb-3">
                    <h2>Recent Posts</h2>
                </div>
            </div>

            <div id="resource-container" class="row">
                {% include 'post/partials/resource_list.html' %}
            </div>
            <div id="last-list-row" class="row">
                <div class="col">
                    <div class="text-center mt-4 mb-5">
                        <button id="show-more-button" data-page="2" class="btn">Show More</button>
                        <span id="resource-end">No more resources</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}

{% block script %}
<script src="{% static 'js/resource_list.js' %}"></script>
{% endblock %}