{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <div class="row justify-content-center my-5">
        <div class="col col-md-10 col-lg-8">
            <div class="card create-resource-card">
                {% if user.is_authenticated %}
                <div class="card-header slim-border">
                    <h4 class="text-center">Posting New Resource</h4>
                    <p class="mb-0">Posting as: {{ user.username }}</p>
                </div>
                <div class="card-body slim-border">
                    <form id="resourceForm" method="post" enctype="multipart/form-data">
                        {{ resource_form | crispy }}
                        <label for="id_featured_media">Upload media</label>
                        <input type="file" name="featured_media" id="id_featured_media" multiple>
                        {% csrf_token %}
                        <button id="submitButton" type="submit" class="btn btn-lg">Submit</button>
                    </form>
                    {% else %}
                    <p>Log in to post a resource</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block script %}
<script>
    $(document).ready(function() {
        $('#id_content').summernote();
    });
</script>
{% endblock script %}